<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Advertisement List</title>
</head>
<body>
	<c:set var="contextPath" value="${pageContext.request.contextPath}" />
	
	<nav class="navbar navbar-inverse">
  	<div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="${contextPath}/user/userHome">home</a>
    </div>
    
    <a href="${contextPath}/user/logout"><button class="btn btn-danger navbar-btn navbar-right">logout</button></a>
  	</div>
	</nav>


<h2>Search list</h2>

           <table class="table table-striped">
                <tr>
                    <th>real estate type</th>
                    <th>description</th>
                    <th>address</th>
                    <th>price</th>
                    <th>posted by</th>
                    <th>picture</th>
                </tr>
             #foreach($pst in $post)
                 <tr>
                    <td> $pst.type</td>
                    <td> $pst.description</td>
                    <td> $pst.address</td>
                    <td> $pst.price</td>
                    <td> $pst.user.firstName</td>
                    <td> <img height="150" width="150" src="$pst.filename" /></td>
                </tr>
            #end
            </table>
            
            </body>
</html>
            